* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background: #f5f3f4;
}

body,
html {
    height: 100%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul li {
    list-style: none;
}

.container {
    max-width: 1323px;
    margin: 0 auto;
    overflow-x: hidden;
}