.possibility {
    margin: 0 auto;
    max-width: 1310px;
}

.possibility__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 160px 0px 160px 0px;
}

.possibility__info {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.possibility__info-title {
    font-weight: 700;
    font-size: 32px;
    color: #12100c;

}

.possibility__info-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: rgba(18, 16, 12, 0.7);
    margin-top: 8px;
}

.possibility__button {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 139px;
}

.possibility__button-orange {
    border-radius: 10px;
    width: 162px;
    height: 32px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background: #ffae33;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 114%;
    text-align: center;
    color: #12100c;
}

.possibility__button-pink {
    margin-left: 16px;
    border-radius: 10px;
    width: 146px;
    height: 32px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background: #ffb0ae;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 114%;
    text-align: center;
    color: #12100c;
}

